#Navbar {
    margin-top: 1.5em;
}
#Logo {
    margin-left: 1em;
}
#ToggleTheme {
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}

.NavCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
    text-decoration: none;
    word-wrap: break-word;
  }
  
  .link:hover {
    color: var(--clr-primary);
  }
  
  .link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in;
  }
  
  .link:hover::before,
  .link:focus::before {
    width: 100%;
  }
  