* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
}

a {
  text-decoration: none !important;
}

.light {
    --clr-wb: #FFFFFF;
    --clr-bw: #000000;
    --clr-bg: #fcfcfc;
    --clr-bg-alt: #fff;
    --clr-fg: #555;
    --clr-fg-alt: #444;
    --clr-primary: #2978b5;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .dark {
    --clr-wb: #000000;
    --clr-bw: #FFFFFF;
    --clr-bg: #23283e;
    --clr-bg-alt: #2a2f4c;
    --clr-fg: #bdbddd;
    --clr-fg-alt: #cdcdff;
    --clr-primary: #90a0d9;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }